<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="WindAndKite\Storyblok\Api\AssetRepositoryInterface"
                type="WindAndKite\Storyblok\Model\AssetRepository"/>
    <preference for="WindAndKite\Storyblok\Api\DataSourceRepositoryInterface"
                type="WindAndKite\Storyblok\Model\DataSourceRepository"/>
    <preference for="WindAndKite\Storyblok\Api\FieldRendererInterface"
                type="WindAndKite\Storyblok\Service\FieldRenderer"/>
    <preference for="WindAndKite\Storyblok\Api\StoryRepositoryInterface"
                type="WindAndKite\Storyblok\Model\StoryRepository"/>

    <preference for="WindAndKite\Storyblok\Api\Data\AssetInterface"
                type="WindAndKite\Storyblok\Model\Asset"/>
    <preference for="WindAndKite\Storyblok\Api\Data\BlockInterface"
                type="WindAndKite\Storyblok\Model\Block"/>
    <preference for="WindAndKite\Storyblok\Api\Data\DataSourceInterface"
                type="WindAndKite\Storyblok\Model\DataSource"/>
    <preference for="WindAndKite\Storyblok\Api\Data\StoryInterface"
                type="WindAndKite\Storyblok\Model\Story"/>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="storyblok/general/api_token" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="storyProvider" xsi:type="object">WindAndKite\Storyblok\Model\Sitemap\StoryProvider</item>
            </argument>
        </arguments>
    </type>
</config>
